**Vinay Nagaraj - Week 7 & 8 Assignment**

In [67]:
# load necessary libraries 
import numpy as np
import pandas as pd
from datetime import datetime

In [68]:
# Read The Metropolitan Museum of Art Open Access CSV
met_objects = pd.read_csv('MetObjects.csv')
met_objects.head()

/Users/vinaynagaraj/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (7,8,9,10,11,18,27,28,29,30,31,32,33,34,35,36,37,39) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Object Number,Is Highlight,Is Public Domain,Object ID,Department,Object Name,Title,Culture,Period,Dynasty,...,Subregion,Locale,Locus,Excavation,River,Classification,Rights and Reproduction,Link Resource,Metadata Date,Repository
0,1979.486.1,False,False,1,American Decorative Arts,Coin,One-dollar Liberty Head Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/1,4/3/2017 8:00:08 AM,"Metropolitan Museum of Art, New York, NY"
1,1980.264.5,False,False,2,American Decorative Arts,Coin,Ten-dollar Liberty Head Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/2,4/3/2017 8:00:08 AM,"Metropolitan Museum of Art, New York, NY"
2,67.265.9,False,False,3,American Decorative Arts,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/3,4/3/2017 8:00:08 AM,"Metropolitan Museum of Art, New York, NY"
3,67.265.10,False,False,4,American Decorative Arts,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/4,4/3/2017 8:00:08 AM,"Metropolitan Museum of Art, New York, NY"
4,67.265.11,False,False,5,American Decorative Arts,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/5,4/3/2017 8:00:08 AM,"Metropolitan Museum of Art, New York, NY"

In [69]:
# Get rows and column details
met_objects.shape

(448203, 43)

In [70]:
# Find out the data types 
met_objects.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 448203 entries, 0 to 448202
Data columns (total 43 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Object Number            448203 non-null  object
 1   Is Highlight             448203 non-null  bool
 2   Is Public Domain         448203 non-null  bool
 3   Object ID                448203 non-null  int64
 4   Department               448203 non-null  object
 5   Object Name              445568 non-null  object
 6   Title                    416906 non-null  object
 7   Culture                  186518 non-null  object
 8   Period                   71882 non-null   object
 9   Dynasty                  23018 non-null   object
 10  Reign                    10817 non-null   object
 11  Portfolio                20370 non-null   object
 12  Artist Role              259909 non-null  object
 13  Artist Prefix            88928 non-null   object
 14  Artist Display Name      261111 non-null  object
 15  Artist Display Bio       224064 non-null  object
 16  Artist Suffix            10212 non-null   object
 17  Artist Alpha Sort        261088 non-null  object
 18  Artist Nationality       196132 non-null  object
 19  Artist Begin Date        215234 non-null  object
 20  Artist End Date          212825 non-null  object
 21  Object Date              432609 non-null  object
 22  Object Begin Date        448203 non-null  int64
 23  Object End Date          448203 non-null  int64
 24  Medium                   440155 non-null  object
 25  Dimensions               385360 non-null  object
 26  Credit Line              447533 non-null  object
 27  Geography Type           58463 non-null   object
 28  City                     30520 non-null   object
 29  State                    8360 non-null    object
 30  County                   2488 non-null    object
 31  Country                  74450 non-null   object
 32  Region                   31078 non-null   object
 33  Subregion                21716 non-null   object
 34  Locale                   15095 non-null   object
 35  Locus                    6939 non-null    object
 36  Excavation               15519 non-null   object
 37  River                    2103 non-null    object
 38  Classification           389924 non-null  object
 39  Rights and Reproduction  22975 non-null   object
 40  Link Resource            448203 non-null  object
 41  Metadata Date            448203 non-null  object
 42  Repository               448203 non-null  object
dtypes: bool(2), int64(3), object(38)
memory usage: 141.1+ MB

In [71]:
# Find missing value for all the columns of the dataframe
met_objects.isna().sum().sort_values(ascending = False)

River                      446100
County                     445715
Locus                      441264
State                      439843
Artist Suffix              437991
Reign                      437386
Locale                     433108
Excavation                 432684
Portfolio                  427833
Subregion                  426487
Rights and Reproduction    425228
Dynasty                    425185
City                       417683
Region                     417125
Geography Type             389740
Period                     376321
Country                    373753
Artist Prefix              359275
Culture                    261685
Artist Nationality         252071
Artist End Date            235378
Artist Begin Date          232969
Artist Display Bio         224139
Artist Role                188294
Artist Alpha Sort          187115
Artist Display Name        187092
Dimensions                  62843
Classification              58279
Title                       31297
Object Date                 15594
Medium                       8048
Object Name                  2635
Credit Line                   670
Department                      0
Object ID                       0
Is Public Domain                0
Is Highlight                    0
Repository                      0
Metadata Date                   0
Object Begin Date               0
Object End Date                 0
Link Resource                   0
Object Number                   0
dtype: int64

In [72]:
# We will now identify the duplicates
met_objects.duplicated(['Object Number']).sum()

2576

In [73]:
# Clean or Remove the duplicates and gets it rows and column details
Nodup_met_objects = met_objects.drop_duplicates(subset='Object Number')
Nodup_met_objects.shape

(445627, 43)

In [74]:
# Hierarchical index
# Create a subset dataframe 
subset_objects = Nodup_met_objects[['Object Number', 'Department', 'Title', 'Object Name', 'Medium', 'Classification', 'Is Public Domain']]

# Select random sample of 2000 rows
random_objects = subset_objects.sample(2000)

# Reset Index of random dataframe
random_objects = random_objects.reset_index()
random_objects.head()

,index,Object Number,Department,Title,Object Name,Medium,Classification,Is Public Domain
0,113671,48.187.549,European Sculpture and Decorative Arts,Necklace,Necklace,NaN,Costume Accessories,False
1,3610,46.140.439,American Decorative Arts,Hobnail Fruit Bowl,Fruit bowl,Pressed canberry and opalescent glass,Glass,True
2,410488,2014.715.1,Photographs,"No. 34. From Bluffs at Merrimac, Minnesota Loo...",Photograph,Cyanotype,Photographs,True
3,424016,2015.303.29,Photographs,[Amateur Snapshot],Photograph,Gelatin silver print with applied color,Photographs,False
4,121009,L.1990.81.12,European Sculpture and Decorative Arts,Silver snuffbox,CrÃ¨che accessory,Silver,CrÃ¨che,False

In [75]:
# Create Hierarchical indexing using set_index
random_H_objects = random_objects.set_index(['Department', 'Medium'])
random_H_objects.head()

                                                                                 index  \
Department                             Medium
European Sculpture and Decorative Arts NaN                                      113671
American Decorative Arts               Pressed canberry and opalescent glass      3610
Photographs                            Cyanotype                                410488
                                       Gelatin silver print with applied color  424016
European Sculpture and Decorative Arts Silver                                   121009

                                                                               Object Number  \
Department                             Medium
European Sculpture and Decorative Arts NaN                                        48.187.549
American Decorative Arts               Pressed canberry and opalescent glass      46.140.439
Photographs                            Cyanotype                                  2014.715.1
                                       Gelatin silver print with applied color   2015.303.29
European Sculpture and Decorative Arts Silver                                   L.1990.81.12

                                                                                                                            Title  \
Department                             Medium
European Sculpture and Decorative Arts NaN                                                                               Necklace
American Decorative Arts               Pressed canberry and opalescent glass                                   Hobnail Fruit Bowl
Photographs                            Cyanotype                                No. 34. From Bluffs at Merrimac, Minnesota Loo...
                                       Gelatin silver print with applied color                                 [Amateur Snapshot]
European Sculpture and Decorative Arts Silver                                                                     Silver snuffbox

                                                                                     Object Name  \
Department                             Medium
European Sculpture and Decorative Arts NaN                                              Necklace
American Decorative Arts               Pressed canberry and opalescent glass          Fruit bowl
Photographs                            Cyanotype                                      Photograph
                                       Gelatin silver print with applied color        Photograph
European Sculpture and Decorative Arts Silver                                   CrÃ¨che accessory

                                                                                     Classification  \
Department                             Medium
European Sculpture and Decorative Arts NaN                                      Costume Accessories
American Decorative Arts               Pressed canberry and opalescent glass                  Glass
Photographs                            Cyanotype                                        Photographs
                                       Gelatin silver print with applied color          Photographs
European Sculpture and Decorative Arts Silver                                                CrÃ¨che

                                                                                Is Public Domain
Department                             Medium
European Sculpture and Decorative Arts NaN                                                 False
American Decorative Arts               Pressed canberry and opalescent glass                True
Photographs                            Cyanotype                                            True
                                       Gelatin silver print with applied color             False
European Sculpture and Decorative Arts Silver                                              False

In [76]:
# Reshaping the sample dataframe
stack_objects = random_objects.stack()
stack_objects

0     index                                                          113671
      Object Number                                              48.187.549
      Department                     European Sculpture and Decorative Arts
      Title                                                        Necklace
      Object Name                                                  Necklace
                                                ...
1999  Title                                   The Massacre of the Innocents
      Object Name                                                   Drawing
      Medium              Pen and brown ink, brush and brown wash, over ...
      Classification                                               Drawings
      Is Public Domain                                                 True
Length: 15551, dtype: object

In [77]:
# We will now reshape the rows into the columns using unstack
stack_objects.unstack()

,index,Object Number,Department,Title,Object Name,Medium,Classification,Is Public Domain
0,113671,48.187.549,European Sculpture and Decorative Arts,Necklace,Necklace,NaN,Costume Accessories,False
1,3610,46.140.439,American Decorative Arts,Hobnail Fruit Bowl,Fruit bowl,Pressed canberry and opalescent glass,Glass,True
2,410488,2014.715.1,Photographs,"No. 34. From Bluffs at Merrimac, Minnesota Loo...",Photograph,Cyanotype,Photographs,True
3,424016,2015.303.29,Photographs,[Amateur Snapshot],Photograph,Gelatin silver print with applied color,Photographs,False
4,121009,L.1990.81.12,European Sculpture and Decorative Arts,Silver snuffbox,CrÃ¨che accessory,Silver,CrÃ¨che,False
...,...,...,...,...,...,...,...,...
1995,380798,1979.655.26,Drawings and Prints,The Golden Calf (blue),Print,Color linocut,Prints,False
1996,159629,1971.616.13aâ€“c,Photographs,"Highland Park, Michigan",Photograph,Gelatin silver print,Photographs,False
1997,442332,46.46.451,Drawings and Prints,"A man carrying a load on his back, illustratio...",Print,Wood engraving,Prints,False
1998,361147,30.8.255b,Egyptian Art,Statuette base,Statuette base,Faience,NaN,False
1999,215532,63.149,Drawings and Prints,The Massacre of the Innocents,Drawing,"Pen and brown ink, brush and brown wash, over ...",Drawings,True

In [78]:
# Grouping 
# Check the count in either values for "Is public domain"

group_objects = random_objects.set_index(['Is Public Domain'])
group_objects.groupby(bool).count()

,index,Object Number,Department,Title,Object Name,Medium,Classification
False,1104,1104,1104,1075,1094,1078,918
True,896,896,896,788,896,893,809

In [79]:
# Crosstab
# Summarize the total records by calssifications and departments, and display top 10 classifications

crosstab_objects = pd.crosstab(subset_objects.Classification, subset_objects.Department, margins = True)
crosstab_objects.sort_values('All', ascending=False).head(11)

Department,American Decorative Arts,American Paintings and Sculpture,Ancient Near Eastern Art,Arms and Armor,"Arts of Africa, Oceania, and the Americas",Asian Art,Costume Institute,Drawings and Prints,Egyptian Art,European Paintings,...,Greek and Roman Art,Islamic Art,Medieval Art,Modern and Contemporary Art,Musical Instruments,Photographs,Robert Lehman Collection,The Cloisters,The Libraries,All
Classification,,,,,,,,,,,,,,,,,,,,,
All,12330,5451,6185,13484,12423,36727,5,152893,3041,2702,...,17285,14841,7173,13839,5295,36101,2589,2593,54,387537
Prints,18,17,0,0,4,4858,0,61735,0,2,...,0,5,0,962,0,804,16,0,0,68423
Prints|Ephemera,0,0,0,0,0,0,0,30032,0,0,...,0,0,0,0,0,1,0,0,0,30033
Photographs,100,2,0,6,131,46,0,150,0,0,...,0,2,0,117,0,26119,0,0,0,26673
Drawings,538,2804,0,2,0,0,0,15909,0,65,...,0,16,0,5006,0,24,734,4,0,25139
Books,0,0,0,0,2,0,0,13339,0,1,...,0,0,0,12,0,853,0,0,0,14207
Ceramics,2606,1,27,0,3,6315,0,0,0,0,...,0,3090,972,29,0,0,113,119,0,13275
Textiles-Woven,0,0,26,0,1260,4253,0,0,0,0,...,0,603,209,1052,0,0,48,5,0,10954
Photographs|Ephemera,0,0,0,0,0,0,0,10939,0,0,...,0,0,0,0,0,1,0,0,0,10940
Paintings,161,1836,0,4,1,4260,0,12,0,2352,...,1,33,1,1955,6,27,283,0,0,10939
Glass,2650,0,0,0,1,78,0,0,0,0,...,2750,756,69,745,0,0,129,8,0,8820

In [80]:
# Find the type of a date field
type(Nodup_met_objects['Object Begin Date'])

pandas.core.series.Series

In [81]:
# Convert the Object Begin date to a datetime format and Generate a date range
datetime_objects = pd.to_datetime(Nodup_met_objects['Object Begin Date'])
daterange = pd.date_range(datetime.today(), periods=100).tolist()
daterange

[Timestamp('2020-10-26 20:28:18.935063', freq='D'),
 Timestamp('2020-10-27 20:28:18.935063', freq='D'),
 Timestamp('2020-10-28 20:28:18.935063', freq='D'),
 Timestamp('2020-10-29 20:28:18.935063', freq='D'),
 Timestamp('2020-10-30 20:28:18.935063', freq='D'),
 Timestamp('2020-10-31 20:28:18.935063', freq='D'),
 Timestamp('2020-11-01 20:28:18.935063', freq='D'),
 Timestamp('2020-11-02 20:28:18.935063', freq='D'),
 Timestamp('2020-11-03 20:28:18.935063', freq='D'),
 Timestamp('2020-11-04 20:28:18.935063', freq='D'),
 Timestamp('2020-11-05 20:28:18.935063', freq='D'),
 Timestamp('2020-11-06 20:28:18.935063', freq='D'),
 Timestamp('2020-11-07 20:28:18.935063', freq='D'),
 Timestamp('2020-11-08 20:28:18.935063', freq='D'),
 Timestamp('2020-11-09 20:28:18.935063', freq='D'),
 Timestamp('2020-11-10 20:28:18.935063', freq='D'),
 Timestamp('2020-11-11 20:28:18.935063', freq='D'),
 Timestamp('2020-11-12 20:28:18.935063', freq='D'),
 Timestamp('2020-11-13 20:28:18.935063', freq='D'),
 Timestamp('2020-11-14 20:28:18.935063', freq='D'),
 Timestamp('2020-11-15 20:28:18.935063', freq='D'),
 Timestamp('2020-11-16 20:28:18.935063', freq='D'),
 Timestamp('2020-11-17 20:28:18.935063', freq='D'),
 Timestamp('2020-11-18 20:28:18.935063', freq='D'),
 Timestamp('2020-11-19 20:28:18.935063', freq='D'),
 Timestamp('2020-11-20 20:28:18.935063', freq='D'),
 Timestamp('2020-11-21 20:28:18.935063', freq='D'),
 Timestamp('2020-11-22 20:28:18.935063', freq='D'),
 Timestamp('2020-11-23 20:28:18.935063', freq='D'),
 Timestamp('2020-11-24 20:28:18.935063', freq='D'),
 Timestamp('2020-11-25 20:28:18.935063', freq='D'),
 Timestamp('2020-11-26 20:28:18.935063', freq='D'),
 Timestamp('2020-11-27 20:28:18.935063', freq='D'),
 Timestamp('2020-11-28 20:28:18.935063', freq='D'),
 Timestamp('2020-11-29 20:28:18.935063', freq='D'),
 Timestamp('2020-11-30 20:28:18.935063', freq='D'),
 Timestamp('2020-12-01 20:28:18.935063', freq='D'),
 Timestamp('2020-12-02 20:28:18.935063', freq='D'),
 Timestamp('2020-12-03 20:28:18.935063', freq='D'),
 Timestamp('2020-12-04 20:28:18.935063', freq='D'),
 Timestamp('2020-12-05 20:28:18.935063', freq='D'),
 Timestamp('2020-12-06 20:28:18.935063', freq='D'),
 Timestamp('2020-12-07 20:28:18.935063', freq='D'),
 Timestamp('2020-12-08 20:28:18.935063', freq='D'),
 Timestamp('2020-12-09 20:28:18.935063', freq='D'),
 Timestamp('2020-12-10 20:28:18.935063', freq='D'),
 Timestamp('2020-12-11 20:28:18.935063', freq='D'),
 Timestamp('2020-12-12 20:28:18.935063', freq='D'),
 Timestamp('2020-12-13 20:28:18.935063', freq='D'),
 Timestamp('2020-12-14 20:28:18.935063', freq='D'),
 Timestamp('2020-12-15 20:28:18.935063', freq='D'),
 Timestamp('2020-12-16 20:28:18.935063', freq='D'),
 Timestamp('2020-12-17 20:28:18.935063', freq='D'),
 Timestamp('2020-12-18 20:28:18.935063', freq='D'),
 Timestamp('2020-12-19 20:28:18.935063', freq='D'),
 Timestamp('2020-12-20 20:28:18.935063', freq='D'),
 Timestamp('2020-12-21 20:28:18.935063', freq='D'),
 Timestamp('2020-12-22 20:28:18.935063', freq='D'),
 Timestamp('2020-12-23 20:28:18.935063', freq='D'),
 Timestamp('2020-12-24 20:28:18.935063', freq='D'),
 Timestamp('2020-12-25 20:28:18.935063', freq='D'),
 Timestamp('2020-12-26 20:28:18.935063', freq='D'),
 Timestamp('2020-12-27 20:28:18.935063', freq='D'),
 Timestamp('2020-12-28 20:28:18.935063', freq='D'),
 Timestamp('2020-12-29 20:28:18.935063', freq='D'),
 Timestamp('2020-12-30 20:28:18.935063', freq='D'),
 Timestamp('2020-12-31 20:28:18.935063', freq='D'),
 Timestamp('2021-01-01 20:28:18.935063', freq='D'),
 Timestamp('2021-01-02 20:28:18.935063', freq='D'),
 Timestamp('2021-01-03 20:28:18.935063', freq='D'),
 Timestamp('2021-01-04 20:28:18.935063', freq='D'),
 Timestamp('2021-01-05 20:28:18.935063', freq='D'),
 Timestamp('2021-01-06 20:28:18.935063', freq='D'),
 Timestamp('2021-01-07 20:28:18.935063', freq='D'),
 Timestamp('2021-01-08 20:28:18.935063', freq='D'),
 Timestamp('2021-01-09 20:28:18.935063', freq='D'),
 Timestamp('2021-01-10 20:28:18.935063', freq='D'),
 Timestamp('2021-01-11 20:28:18.935063', freq='D'),
 Timestamp('2021-01-12 20:28:18.935063', freq='D'),
 Timestamp('2021-01-13 20:28:18.935063', freq='D'),
 Timestamp('2021-01-14 20:28:18.935063', freq='D'),
 Timestamp('2021-01-15 20:28:18.935063', freq='D'),
 Timestamp('2021-01-16 20:28:18.935063', freq='D'),
 Timestamp('2021-01-17 20:28:18.935063', freq='D'),
 Timestamp('2021-01-18 20:28:18.935063', freq='D'),
 Timestamp('2021-01-19 20:28:18.935063', freq='D'),
 Timestamp('2021-01-20 20:28:18.935063', freq='D'),
 Timestamp('2021-01-21 20:28:18.935063', freq='D'),
 Timestamp('2021-01-22 20:28:18.935063', freq='D'),
 Timestamp('2021-01-23 20:28:18.935063', freq='D'),
 Timestamp('2021-01-24 20:28:18.935063', freq='D'),
 Timestamp('2021-01-25 20:28:18.935063', freq='D'),
 Timestamp('2021-01-26 20:28:18.935063', freq='D'),
 Timestamp('2021-01-27 20:28:18.935063', freq='D'),
 Timestamp('2021-01-28 20:28:18.935063', freq='D'),
 Timestamp('2021-01-29 20:28:18.935063', freq='D'),
 Timestamp('2021-01-30 20:28:18.935063', freq='D'),
 Timestamp('2021-01-31 20:28:18.935063', freq='D'),
 Timestamp('2021-02-01 20:28:18.935063', freq='D'),
 Timestamp('2021-02-02 20:28:18.935063', freq='D')]

In [82]:
# Create timestamp
tmstp = pd.Timestamp(year = 2020,  month = 10, day = 26,  
                  hour = 20, minute = 30, second = 30, tz = 'US/Central')
tmstp

Timestamp('2020-10-26 20:30:30-0500', tz='US/Central')

In [83]:
# Convert timestamp to period
period = tmstp.to_period(freq ='M')
period

/Users/vinaynagaraj/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Converting to Period representation will drop timezone information.

Period('2020-10', 'M')

In [84]:
# Convert period back to timestamp
period.to_timestamp(freq ='M')

Timestamp('2020-10-31 00:00:00')